{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/8ddc754e9e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

  <style>
    #log:link {
      color: white;
    }

    #log:visited {
      color: #0000ff;
    }

    #log:hover {
      color: #ffcc00;
    }

    #log {
      text-decoration: none;
      font-size: 15px;
    }
    #world-bg {
      background-image: url("https://www.giffywalls.com/pub/media/catalog/product/w/o/world-map-vintage-old-style---vector---blue-and-beige_6_.jpeg");
      background-repeat: no-repeat;
    
      width: 100%;
      height: 800px;
      background-size: contain;
      margin-left: 100px;
      border-radius: 20px;
      }
    
  </style>
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav class="navbar  bg-dark navbar-secondry">
          <h1 style="color: gold;">TRAVEL GO</h1>
          <form class="form-inline" action="">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
          <a class="navbar-brand, " href="/login/" style="font-weight: bold; float: right;" id="log"><i
              class="fa fa-user "> </i>
            LOG IN /SIGN UP</a>
      </div>
      </nav>
    </div>

    <div class=""> 
    <div class="row" style="background-color:white;height: 70px;"><br>
      <div class="col-3" style="padding-top: 20px;">
        <p id="lc">Popular locations</p>
      </div>
      <div class="col-2" style="padding-inline-start: 100px;padding-bottom: 0%;">
        <div class="dropdown"><br>

          <button type="button" class="btn btn-LIGHT dropdown-toggle" data-toggle="dropdown">
            INDIA
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">MUMBAI</a>
            <a class="dropdown-item" href="#">KERLA</a>
            <a class="dropdown-item" href="#">DELHI</a>
          </div>
        </div>
      </div>
      <div class="col-2" style="padding-inline-start: 70px;">
        <div class="dropdown">
          <button type="button" class="btn btn-LIGHT dropdown-toggle" data-toggle="dropdown"><br>
            MIDDLE EAST
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">DUBAI</a>
            <a class="dropdown-item" href="#">QATAR</a>
            <a class="dropdown-item" href="#">SAUDI ARABIA</a>
          </div>
        </div>
      </div>
      <div class="col-2" style="padding-inline-start: 150px;">
        <div class="dropdown">
          <button type="button" class="btn btn-LIGHT dropdown-toggle" data-toggle="dropdown"><br>
            EUROPE
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">SPAIN</a>
            <a class="dropdown-item" href="#">FRANCE</a>
            <a class="dropdown-item" href="#">GERMENY</a>
          </div>
        </div>
      </div>
      <div class="col-3" style="padding-inline-start: 200px;">
        <div class="dropdown">
          <button type="button" class="btn btn-LIGHT dropdown-toggle" data-toggle="dropdown"><br>
            OTHERS
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">USA</a>
            <a class="dropdown-item" href="#">MALDIVES</a>
            <a class="dropdown-item" href="#">BAHMAS</a>
          </div>
        </div>

      </div>
    </div>

    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-1"></div>
      <div class="col-6" style="border: solid;color: white;height: 400px;">
        <img src="{% static 'images/india.jpeg' %} " alt="" class="img-fluid" style="border-radius: 25px;">

      </div>
      <div class="col-3">
        <img src="{% static 'images/a3.jpg' %} " alt="" class="img-fluid" style="border-radius: 25px;"><br><br>
        <img src="{% static 'images/ac.jpg' %} " alt="" class="img-fluid"style="border-radius: 25px;">


      </div>

    </div>
  
  <div class="row">
<div style="border:3px solid blue;height: 100px;width: 70%;margin-top: 10px;border-radius: 50px;margin-left: 150px;">
<p style="text-align: center;">WE GUARNTEE ON</p>
<i class="fas fa-wifi" style="margin-left: 25px;"> <br><br>
  FREE WIFI</i>
<i class="fas fa-utensils"style="margin-left: 25px;" ><br><br>
  QUALITY FOOD</i>
  <i class="fas fa-star,fas fa-star"style="margin-left: 25px ;"><br><br>
    TOP RATED </i>
    <i class="fas fa-user-tie,"style="margin-left: 25px ;"><br><br>
      </i>


</div>
  </div>
  <div class="row">

    <div id="world-bg" style="width: 100%;height:800px; margin-top: 20px;" >
      <!-- <h1 id="maphead">WE ARE IN</h1> -->
      <!-- <a href="/middleeast_hotels/"><img src="{% static 'images/burj 1.jpg' %}" alt="avathar" id="dubai" class="img-fluid" >   
        
        
      <a href="/others_hotels/"><img src="{% static 'images/usa.jpg' %}" alt="avathar" id="usa" class="img-fluid" > </a>
      
      <i class="fa-thin fa-arrow-up-right"></i>
      <a href="/europe_hotels/"><img src="{% static 'images/spain.jpg' %}" alt="" id="spain" class="img-fluid"></a>
      <i class="fa-thin fa-arrow-up-right"></i>
      <a href="/india_hotels/"><img src="{% static 'images/india.jpeg' %}" alt="" id="india" class="img-fluid"></a>
      <i class="fa-thin fa-arrow-up-right"></i>
      <a href="/others_hotels/"><img src="{% static 'images/turkey.jpg' %}" alt="" id="turkey" class="img-fluid"></a>
      <i class="fa-thin fa-arrow-up-right"></i>
      <a href="/others_hotels/"><img src="{% static 'images/maldivies.jpg' %}" alt="" id="maldivies" class="img-fluid"></a>
      <i class="fa-thin fa-arrow-up-right"></i>
      <a href="/others_hotels/"><img src="{% static 'images/bahmas.jpg' %}" alt="" id="bahmas" class="img-fluid"></a>
      <i class="fa-thin fa-arrow-up-right"></i>
  
      <i class="fa-thin fa-arrow-up-right"></i>-->
      <i class="fad fa-map-marker-alt"></i>
      <i class="fad fa-map-marker-alt"></i>
    </div> 

    </div>
  



  </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-4" style="margin-left: 50px;"><a href=""><img src="{% static 'images/india.jpeg' %}" alt="" style="height: 400px;width: 500px;"></a><p>hotels</p></div>
    <div class="col-4" style="margin-left: 220px;"><a href=""><img src="{% static 'images/india.jpeg' %}" alt="" style="height: 400px;width: 500px;"></a><p>resorts</p></div>
  </div></div>
</body>

</html>