{% extends 'usermaster.html' %}
{% block content %}
{% load static %}
<style>
  a {
    text-decoration: none;
    color: black;
  }
</style>
{% if h_data %}
{% for data in h_data %}
<div class="container-fluid">
<div class="row" style="border: 1px solid; height: 300px;margin-top: 10px;">

  <div class="col-4"><img src="{{data.prop_image.url}}" alt="" class="img-fluid"
      style="height:300px;width: 100%;">
  </div>


  <div class="col-2" style="margin-left: 0;">
    <img class="img-fluid" src="{{data.img0.url}}" alt="" style="height:140px; width: 100%;">
    <img class="img-fluid" src="{{data.img1.url}}" alt="" style="height:140px;width: 100%;margin-top: 5px;" >
  </div>

  
  <div class="col-5">
    <h2>{{data.property_name|upper}}</h2>
      <h4>{{data.place}} {{data.country}}</h4>
    <p><span><a href=""><i class="fa-solid fa-location-dot"></i>
          location</a></span></p>
    <div style="width: 100px;height: 25px;background-color: rgb(94, 171, 94);display: inline;"><i
        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
    top rated
    <div>
     <h4> Amenities</h4>
     <i class="fa-solid fa-wifi"></i>




    </div>
    
    <a href="/view-hotel/{{data.p_id}}" class="btn btn-danger">view hotel</a>
    <a href="/view-hotel/{{data.p_id}}" class="btn btn-success" id="book_now">book now</a>
  </div>

</div>
{% endfor %}
{% endif %}
<script>

  $(document).ready(function(){
    $("#book_now").click(function(){
      alert("please select a room or villa before booking")
    })



  })
</script>






    
{% endblock %}