{% extends 'usermaster.html' %}
{% block content %}
{% load static %}
<div >


<!-- <div class="row" style="padding-top: 10px;padding-bottom: 100px;padding-left: 200px;">
  <div class="card" style="width: 400px;">
    <img src="{% static 'images/burj 1.jpg' %}" class="card-img-top img-fluid" alt="Fissure in Sandstone" style="height: 370px;width: 400px;"/>
    <div class="card-body">
      <h5 class="card-title">MIDDLE EAST</h5>
     <a href="#!" class="btn btn-secondary">SEARCH</a>
    </div>
  </div>
  <div class="card" style="width:400px ;margin-left: 100px;" >
    <img src="{% static 'images/india.jpeg' %}"  class="card-img-top img-fluid" alt="Fissure in Sandstone" style="height: 100%;width: 100%;"/>
    <div class="card-body">
      <h5 class="card-title">INDIA</h5>
       <a href="#!" class="btn btn-secondary " >SEARCH</a>
    </div>
  </div>
  
  </div>
  <div class="row" style="padding-bottom: 100px;padding-left: 200px;">
    <div class="card" style="height: 400px;width: 400px;">
      <img src="{% static 'images/spain.jpg' %}" class="card-img-top img-fluid" alt="Fissure in Sandstone" style="height: 350px;width: 400px;"/>
      <div class="card-body">
        <h5 class="card-title">EUROPE</h5>
         <a href="#!" class="btn btn-secondary">SEARCH</a>
      </div>
    </div>
    <div class="card" style="height: 400px;width: 400px;margin-left: 100px;">
      <img src="{% static 'images/turkey.jpg' %}" class="card-img-top" alt="Fissure in Sandstone" style="height: 350px;width: 100%;"/>
      <div class="card-body">
        <h5 class="card-title">OTHERS PLACES</h5>
         <a href="#!" class="btn btn-secondary">search</a>
      </div>
    </div>
     -->
     <style>
       img{
         border-radius: 20px;
        
       }
     </style>
      <br><br> <div class="row">
<div class="col-1"></div>
<div class="col-4"><a href="" ><img src="{% static 'images/turkey.jpg' %}" alt="" style="width: 100%;">india</a></div>
<div class="col-4"><a href="" ><img src="{% static 'images/turkey.jpg' %}" alt="" style="width: 100%;"></a></div>



       </div> 
       <br><br><br>
       <div class="row">
        <div class="col-1"></div>
        <div class="col-4"  style=" text-shadow: 10px 10px brown;"><a href="" ><img src="{% static 'images/turkey.jpg' %}" alt="" style="width: 100%;"></a></div>
        <div class="col-4"><a href="" ><img src="{% static 'images/turkey.jpg' %}" alt="" style="width: 100%;"></a></div>
        
        
        
               </div> 
        
        <br><br><br>

  </div>
</div>  
        
        
        
        
    
    





    
</div>
{% endblock %}