{% extends 'usermaster.html' %}
{% load static %}
{% block content %}
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
    <h1 style="margin-top: 100px;">welcome back</h1>
</div>
<br><br><br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 " style="border: 1px;width: 400px;height: 300px;padding: 10px;box-shadow:5px 5px  10px #888888;">
        <h4>Personel details</h4>
       
        <br>
<h5> email</h5>
<span><b></b></span>
<br><br>
<h5>password</h5>
<span><b></b></span>
<a href="/profile2/" class="btn btn-dark">update profile</a>
    </div>
</div>
</div>
<br>
<div class="row">
<div class="col-1"></div>
    <div class="col-10" style="height: 400px;box-shadow: 5px  5px 10px #888888;">
        <h1>Booking details</h1>
    </div>
</div>
</div>
</div>
{% endblock %}