{% extends 'usermaster.html' %}
{% block content %}
{% load static %}
<div >


        
    <style>
      img{
        border-radius: 20px;
       
      }
    </style>
     <br><br> <div class="row">
<div class="col-1"></div>
<div class="col-4"><a href="" ><img src="{% static 'images/turkey.jpg' %}" alt="" style="width: 100%;">india</a></div>
<div class="col-4"><a href="" ><img src="{% static 'images/turkey.jpg' %}" alt="" style="width: 100%;"></a></div>



      </div> 
      <br><br><br>
      <div class="row">
       <div class="col-1"></div>
       <div class="col-4"  style=" text-shadow: 10px 10px brown;"><a href="" ><img src="{% static 'images/turkey.jpg' %}" alt="" style="width: 100%;"></a></div>
       <div class="col-4"><a href="" ><img src="{% static 'images/turkey.jpg' %}" alt="" style="width: 100%;"></a></div>
       
       
       
              </div> 
       
       <br><br><br>

 </div>
</div>  
       
       
       
       
   
   






  </div>
</div>  
        
        
        
        
    
    





    
</div>
{% endblock %}