{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVEL-GO HOTELS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/8ddc754e9e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/view-hotel.css' %}">
    <style>

    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light "
                    style="background-color:white;border:  solid;color: black;height: 70px;">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/home/"><b>HOME</b></a>
                        <form class="d-flex mx-auto">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                style="box-shadow: 5px 5px  10px #888888;;">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>

                    </div>
                    <a class="navbar-brand " href="/profile/" style="font-weight: bold; float: right;"><i
                            class="fa fa-user ">
                        </i>
                        PROFILE</a>
            </div>
            </nav>
        </div>
    </div>
    <div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>{{h_data.property_name|upper}}</h1>
                    <p> <i class="fa-solid fa-location-dot"></i>{{h_data.place|upper}} {{h_data.country|upper}} </p>
                </div>



            </div>
            <div class="row">
                <div class="col-5">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">

                                <img src="{{h_data.image.url}}"
                                    class="d-block w-100" alt="..." width="100%" height="300px">
                            </div>
                            {% if h_image %}
                            {% for i in h_image %}
                            <div class="carousel-item">
                                <img src="{{i.property_image.url}}"
                                    class="d-block w-100" alt="..." width="100%" height="300px">
                            </div>
                           {% endfor %}
                           {% endif %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
                <div class="col-md-6">
                    {% if r_image %}
                    {% for i in r_image %}
                    <img src="{{i.property_image.url}}" alt="" class="img-fluid" style="height: 150px;width: 150px;">


                    <!-- <button type="button" id="gallery-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fa-solid fa-images"></i>gallery
                            </button>
                     -->
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>




    </div>
    <hr style="width:70%;text-align:left;margin-left:10%">
    <!-- about hotel -->
    <div class="row">
        {% if desc %}
        {% for k in desc %}
        <div class="col-8">
            
           {{k.description}}
          
           
        </div>
       
        <div style="display: inline;">
            <h5> hotel policies</h5>
            {{k.rules}}

        </div>

    </div> {% endfor %}
    {% endif %}

    <!-- Amenties -->
    <div class="row">
        <div class="col-8">
            <h4>Amenties</h4>
        </div>

    </div>
    <div>
        <!-- rooms -->
       
        <table class="table table-hover table-bordered" style="width: 80%;">
            <thead>
                <tr class="table-warning">
                    {% if h_data.property_type == "hotel" %}
                    
                    <th scope="col">room name</th>
                    {% else %}
                    <th scope="col">villa  name</th>
                    {% endif %}
                    <th scope="col">guest </th>
                    <th scope="col">price</th>

                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% if r_data %}
                {% for d in r_data %}
                <tr>
                    <th scope="row">{{d.room_name}}</th>
                    <td>adult {{d.adult}}
                        child {{d.child}}
                    </td>
                    <td>{{d.price}}</td>
                    <td><a href="/book-hotel/{{d.id}}" class="btn btn-dark">book now</a></td>
                </tr>
                {% endfor %}
                {% endif %}

            </tbody>
        </table>


    </div>
    <!-- rating and review -->
    <div class="row">
        <h4>reviews</h4>
        <div class="col-3" style="border:1px solid black ;height: 200px; ;">

        </div>
    </div>
    <!-- location -->
    <div class="row">

    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">images</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4"><img
                                src="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/283686077.jpg?k=c11e5051c52e0c5a238705fd3cd7158e871255febd5c195cb83b9e693a37eb39&o=&hp=1"
                                alt="" class="img-fluid" style="height: 150px;width: 100%;">
                        </div>
                        <div class="col-4"><img
                                src="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/283686077.jpg?k=c11e5051c52e0c5a238705fd3cd7158e871255febd5c195cb83b9e693a37eb39&o=&hp=1"
                                alt="" class="img-fluid" style="height: 150px;width: 100%;">
                        </div>
                        <div class="col-4"><img
                                src="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/283686077.jpg?k=c11e5051c52e0c5a238705fd3cd7158e871255febd5c195cb83b9e693a37eb39&o=&hp=1"
                                alt="" class="img-fluid" style="height: 150px;width: 100%;">
                        </div>
                        <div class="col-4"><img
                                src="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/283686077.jpg?k=c11e5051c52e0c5a238705fd3cd7158e871255febd5c195cb83b9e693a37eb39&o=&hp=1"
                                alt="" class="img-fluid" style="height: 150px;width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-center text-white" style="margin-top: 10px;">

        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->

            </section>
            <br>
            <div class="row">
                <div class="col-2">
                    <a href="" class="two">about us</a>
                </div>
                <div class="col-2">
                    <a href="" class="two">contact us</a>
                </div>
                <div class="col-2" style="display: inline;">
                    <a href="" class="two">T & c</a>
                </div>
                <div class="col-2"> <a href="" class="two">help</a>
                </div>
                <div class="col-2"></div>
                <div class="col-2">
                    <a class="btn btn-outline-light btn-floating m-1" href="/host/" role="button"><i
                            class='fas fa-building' style='color:rgb(19, 226, 216)'><br> list your
                            property</i></a>

                </div>
                <br>

                <!-- Section: Text -->

                <!-- Section: Links -->
                <h1>HOTELS & RESORTS</h1><br>

                <section class="">

                    <div class="row">

                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <h5 class="txt">INDIA</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="one">Hotel in mumbai</a>
                                </li>
                                <li>
                                    <a href="#!" class="one">Hotel in delhi</a>
                                </li>
                                <li>
                                    <a href="#!" class="one">Hotel in kerala</a>
                                </li>
                                <li>
                                    <a href="#!" class="one">Hotel in north india</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <h5 class="txt">MIDDLE EAST</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="one">Hotel in dubai</a>
                                </li>
                                <li>
                                    <a href="#!" class="one">Hotel in abudhabi</a>
                                </li>
                                <li>
                                    <a href="#!" class="one">Hotel in saudi</a>
                                </li>
                                <li>
                                    <a href="#!" class="one">Hotel in qatar</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <h5 class="txt">EUROPE</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="one">Hotel in spain</a>
                                </li>
                                <li>
                                    <a href="#!" class="one">Hotel in france</a>
                                </li>
                                <li>
                                    <a href="#!" class="one">hotels in uk</a>
                                </li>
                                <li>
                                    <a href="#!" class="one">Hotel in germeny</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <h5 class="txt">OTHERS</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="one">Hotel in usa</a>
                                </li>
                                <li>
                                    <a href="#!" class="one">Hotel in maldivies</a>
                                </li>
                                <li>
                                    <a href="#!" class="one">Hotel in bahmas</a>
                                </li>
                                <li>
                                    <a href="#!" class="one">Hotel in eurasia</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </section>


            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2020 Copyright:
                <a class="text-white" href="">TRAVEL GO.com</a>
            </div>
            <!-- Copyright -->
    </footer>

</body>

</html>