.l1{
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    padding-bottom: 5px;
    float: left;
    color:white;
    
}
#host{
text-decoration: none; 
size: 20px; 
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
 