{% extends 'host-master.html' %}
{% block content %}
{% load static %}
<style>

</style>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-5 " style="border: 1px solid black;">
        <div >




            <form action="" method="POST">
                {% csrf_token %}
                <label for="name">room  name</label>
                <input type="text" placeholder="Enter room name" name="room_name" id="room_name" class="form-control">
                <label for="room-number">room  number</label>
                <input type="text" placeholder=" room number must be unique" name="room_number" id="room-number" class="form-control">

                <h6>guest capacity</h6>

                <label for="adult">adult</label>
                <input type="number" min="1" name="adult" id="adult" class="form-control">

                <label for="child">child</label>
                <input type="number" min="0" id="child" name="child" class="form-control">

                <label for="price">price</label>

                <input type="number" min="1" id="price" name="price" class="form-control">

                <label for="beds">beds</label>


                <input type="number" placeholder="totel beds" min="1" id="beds" name="beds" class="form-control">
                <div class="text-center" style="padding-top: 10px">
                    <button class="btn btn-success" type="submit" id="add-btn">add</button>
                </div>
            </form>
            {{msg}}
        </div>

    </div>

   



</div>




<script>
    $(document).ready(function () {

        $("#add-btn").click(function () {
            if (msg == false) {
                alert('room added successfully')
            }
        })
    })
</script>





{% endblock %}