{% extends 'host-master.html' %}
{% block content %}
{% load static %}
<div>
 <div class="row">
    <div class="col9">
      <!-- hotel name -->
      <h1 style="text-align: center;">
abc hotel
       </h1>
       <!-- place -->
       <h6 style="text-align: center;">
india
       </h6>
<table style="border-spacing: 5px;border-collapse: separate;width: 100%;background-color: azure;">
   <tr>
      <th>owner name</th>
      <td></td>
   </tr>
      <tr>
      <th>totel rooms</th>
      <td></td>
   </tr>
   <tr>
      <th>totel staff</th>
      <td></td>
   </tr>
   <tr>
      <th>facility</th>
      <td></td>
   </tr>
</table>

    </div>
 </div>
<div class="row">
<div class="col-9">
<h4>images</h4>
<div class="col-2">
   <img src="" alt="">
</div>
</div>


</div>
</div>
{% endblock %}